$white:                                         #FFFFFF;
$black:                                         #000000;
$grey:                                          #cccccc;
$darkPurple:                                    #040B14;
$purple:                                        #2C2F3F;
$lightBlue:                                     #4F63FF;
