$white:                                         #FFFFFF;
$black:                                         #000000;
$grey:                                          #cccccc;
$greyLighter:                                   #c4c4c4;
$darkPurple:                                    #040B14;
$purple:                                        #2C2F3F;
$lightBlue:                                     #4F63FF;
$textHeaders:                                   #173B6C;
